body{
    margin: 0;
    background-image: url('bg/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif;
}
.deck{
    margin-top: 10vh;
    margin-left: 30vh;
    height: 80vh;
    width: 150vh;
    background-color: aliceblue;
}
#head{
    font-size: 10vh;
    color: aliceblue;
    padding-left: 20vh;
    padding-right:12vh;
}
#head1{
    font-size: 10vh;
    color: #666666;
}
#block1{
    float: left;
    height: 80vh;
    width:75.9vh;
    background-color: #666666;
}
#block2{
    float: right;
    margin-top: -80vh;
    height: 80vh;
    width:75.9vh;
    background-color: aliceblue;
}
button{
    border:5px #333333 solid;
    border-radius: 75px;
    font-size: 2vh;
    margin-bottom: 5px;
    color: #333333;
    background-color: aliceblue;
    transition-duration: 0.4s;
}
button:hover{
    background:#666666;
    border-color: aliceblue;
    font-size: 3vh;
    border-radius: 15px;
    color: aliceblue;
}
.buttons{
    margin-top: -50vh;
    margin-left: -55vh;
}
#display0{
    border: 15px aliceblue solid;
    height: 21vh;
    width: 21vh;
}
#display1{
    border: 15px #666666 solid;
    transform: scaleX(-1);
    height: 21vh;
    width: 21vh;
}
img{
    width:20vh;
    height: 20vh;
}
#score0{
    font-size: 4vh;
    margin-top: 100px;
    color: aliceblue;
    border: 15px solid aliceblue;
    width: 15vh;
    height: 5vh;
}
#score1{
    font-size: 4vh;
    margin-top: 100px;
    border: 15px solid #666666;
    color: #666666;
    width: 15vh;
    height: 5vh;
}
#result{
    position: absolute;
    border: 15px solid #333333;
    height: 7vh;
    width: 35vh;
    color:#333333;
    font-size: 5vh;
    margin-top: 55vh;
    margin-left: 54vh;
}
.reset{
    margin-top: 2vh;
    margin-left: 100vh;
}